.header {
  font-family: "Brush Script MT", cursive;
  font-size: 22px;
  color: red;
  text-shadow: 0 1px gray;
  padding: 15px 30px 15px 30px;
}
.delivery-list-table {
  padding: 15px 30px 15px 30px;
}
.red {
  background: lightcoral;
}
