.top-nav {
  padding: 10px;
  background: green;
  position: sticky;
  color: white;
  display: none;
}
.body-section {
  display: flex;
  .side-nav {
    display: block;
    background: green;
    height: calc(100vh - 40px);
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: left;
    .company-name {
      text-align: left;
      font-family: "Brush Script MT", cursive;
      font-size: 22px;
      color: red;
      text-shadow: 0 2px gray;
      padding-left: 30px;
    }
    a {
      padding: 10px;
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
  .right-section {
    width: calc(100% - 150px);
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .top-nav {
    display: block;
  }
}
