<nav class="top-nav" (click)="isSideNavExpanded=!isSideNavExpanded">
  <i class="fas fa-bars"></i>
</nav>
<div class="body-section">
  <nav class="side-nav" *ngIf="isSideNavExpanded">
    <img src="assets/images/santa.png" alt="Logo">
    <div class="company-name">Santa Inc</div>
    <br />
    <a href="#">
      <span>Toys Factory</span>
    </a>
    <a routerLink="/gift-delivery" routerLinkActive="link-active">
      <span>Delivery</span>
    </a>
    <a href="#">
      <span>Legal</span>
    </a>
    <a href="#">
      <span>Disconnect</span>
    </a>
  </nav>
  <div class="right-section">
    <router-outlet></router-outlet>
  </div>
</div>
